<div class="row-fluid">
	<%= form_tag me_password_path, class: %w(form-horizontal form-compact span8) do %>
		<%= field_set_tag 'Change password' do %>
			<div class="control-group">
				<%= label_tag :password_current, 'Current password', class: %w(control-label) %>
				<div class="controls">
					<%= password_field_tag :password_current, nil, placeholder: 'Current password', required: true %>
				</div>
			</div>
			<div class="control-group">
				<%= label_tag :password_new, 'New password', class: %w(control-label) %>
				<div class="controls">
					<%= password_field_tag :password_new, nil, placeholder: 'New password', required: true %>
				</div>
			</div>
			<div class="control-group">
				<%= label_tag :password_confirm, 'Confirm password', class: %w(control-label) %>
				<div class="controls">
					<%= password_field_tag :password_confirm, nil, placeholder: 'Confirm password', required: true %>
				</div>
			</div>
			<%= submit_tag 'Change password', class: %w(btn btn-danger pull-right) %>
		<% end
   end %>
</div>
