<%= render 'add_ssh-key' %>
<%= render 'create_project' %>
<div class="row-fluid">
	<div class="span5">
		<%= render 'list_projects' %>
	</div>
	<div class="span7">
		<%= render 'change_password' %>
		<%= render 'list_ssh_keys' %>
	</div>
</div>
