<%= form_for Project.new, :url => admin_projects_path, html: { class: [:'form-horizontal', span, offset] } do |f| %>
	<%= field_set_tag 'New project' do %>
		<div class="control-group">
			<%= f.label :name, 'Name', class: :'control-label' %>
			<div class="controls">
				<%= f.text_field :name, required: true %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :uid, 'UID', class: :'control-label' %>
			<div class="controls">
				<%= f.text_field :uid, required: true %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :description, 'Description', class: :'control-label' %>
			<div class="controls">
				<%= f.text_area :description, rows: 5 %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :scm, 'SCM', class: :'control-label' %>
			<div class="controls">
				<%= f.select :scm, [['Git', :git, :'data-image' => image_path('git.png')],
				['SVN', :svn, :'data-image' => image_path('svn.png')]] %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :owner, 'Owner', class: :'control-label' %>
			<div class="controls">
				<%= f.text_field :owner %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= f.submit class: :btn %>
			</div>
		</div>
	<% end %>
<% end %>
